* {
  box-sizing: border-box;
  user-select: none;
}

html {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: 24px;
  touch-action: manipulation; /* disable double-tap action (mishandled on font-size changes) */
}

div {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-size: 100%;
}

input {
  font-size: 100%;
}

/* ==================== Generic classes ==================== */


/* ==================== Specific styles ==================== */

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}

#phrase {
  max-width: 60%;
}
